node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
/extensions/web-pixel/dist/
database.sqlite

/extensions/chat-interface/snippets
/extensions/chat-interface/assets/
/extensions/chat-interface/assets

.env
package-lock.json
yarn.lock
shopify.app.toml
.vercel/output
.vercel/.env*
