<div
  id="embed"
  style="position: fixed; bottom: 50px; right: 50px; color: #fff; padding: 10px; border-radius: 5px; z-index: 999;">
  {% liquid
    # Relative to entrypointsDir
    render 'vite-generator' with 'createElements.tsx'
    render 'vite-generator' with 'embed.tsx'
  %}
</div>

<script>
  const embed_home = {{ request.path | json }}
</script>

{% schema %}
{
  "name": "chat-interface",
  "target": "body",
  "settings": []
}
{% endschema %}
