<div id="sa-search-bar">
  {% liquid
    # Relative to entrypointsDir
    render 'vite-generator' with 'createElements.tsx'
    render 'vite-generator' with 'searchBar.tsx'
  %}
</div>

<script>
  const home = {{ request.path | json }}
</script>

{% schema %}
{
  "name": "search-bar",
  "target": "section",
  "settings": []
}
{% endschema %}
